{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block main %}



<h1> Upload your transactions </h1>

<form method="POST" enctype="multipart/form-data" action="/">
    <input type="file" id="input_csv" name="input_csv" accept=".csv">
    <input type="submit" value="Process file">
</form>


{% if failed_upload %}

Upload failed, please upload a valid file
{% endif %}

{% if upload_binary %}
<h1> Last 10 transactions from uploaded file </h1>

{% for table in df_transactions %}
            {{ table|safe }}
{% endfor %}

<h1> Share profit/loss table </h1>

{% for table in df_shares %}
            {{ table|safe }}
{% endfor %}

<h1> Overall summary </h1>
<p> Shares worth: £{{dict_data.shares_total_value}} </p>
<p> Pounds change in shares: £{{dict_data.money_change_shares}} </p>
<p> Percent change in shares: {{dict_data.pct_shares}}% </p>
<p> Total value (investments + cash): £{{dict_data.total_value_plus_cash}} </p>
<p> Total value of investments: £{{dict_data.shares_total_value}} </p>
<p> Total in cash: £{{dict_data.net_cash_remaining}} </p>

 {% endif %}


{% endblock %}
